<h1>My Profile</h1><br/>

<p>
  Display Name:  <strong><%= @user.profile_name %></strong><br/><br/>
  Email:  <strong><%= @user.email %></strong><br/><br/>
  Ruby Level:  <strong><%= @user.level %></strong>
</p>

