<div class="row" id="editors">
  <div class="col-md-6">
    <textarea class="e1" rows="27"><%= @document.text %></textarea>
  </div>
  <div class="col-md-6">
    <textarea class="e2" rows="27"><%= @document.text %></textarea>
  </div>
</div>
<script>
  $('.e1').ace({ theme: 'twilight', lang: 'ruby' })
  $('.e2').ace({ theme: 'twilight', lang: 'ruby' })
</script>