/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

body {
  background-image: url('http://i.imgur.com/j7KB8ov.png');
  color: white;
  font-family: 'Arvo', serif;
}

.row {
  text-align: center;
}

/* Friendships Index CSS */

.friendships-img > img {
  width: 100px;
  border-radius: 100px;
}

.friends > .col-md-6 > h2 {
  color: #BCD2EE;
}

/* Landing Page CSS  */

.landing > h1 {
  color: #EEE5DE;
}

.landing > h2 {
  color: #BCD2EE;
}

.landing > h3 {
  color: #BCD2EE;
}

 .landing > img {
  width: 75%;
}

/* Profile Page CSS  */

.profile {
  text-align: center;
}

.profile > h1 {
  color: #EEE5DE;
}

.profile-img > img {
  width: 150px;
  border-radius: 100px;
 }

.profile > p {
  color: #BCD2EE;
  font-size: 16px;
}

/* Forms CSS */

input[type=file]{
  display: inline;
  margin-left: 130px;
}

.form {
  color: black;
}

.sign-up > h3 {
  color: #BCD2EE;
}

.edit-user > h3 {
  color: #BCD2EE;
}

.edit-user > h2 {
  color: #BCD2EE;
}

/* Text editor CSS */

#editors {
  text-align: left;
}

.e1,
.e2 {
  width: 100%;
}

.col-md-6 {
  position: relative;
  bottom: 20px;
}

.col-md-6 > h3 {
  color: white;
  text-align: center;
}

.i1 {
  margin-top: 5px;
  width: 99%;
  background-color: black;
  color: white;
}

.i2 {
  margin-top: 5px;
  width: 99%;
  background-color: #ffffff;
  color: black;
}

/* Header navbar CSS */

#navbar .navbar-right > li > a {
  color: #63B8FF;
  font-size: 15px;
}

.navbar-brand {
  font-size: 26px;
  font-weight: bold;
  font-style: italic;
  font-style: oblique;
  color: #458B74;
}

.icon-bar {
  background-color: #63B8FF;
}

.navbar-right > li > a:hover {
  color: #458B74;
}

/* Footer navbar CSS */

html, body {
  position:inherit;
  height: 100%;
}

.body {
  margin-bottom: 1px;
  min-height: calc(100% - 225px);
  overflow: auto;
}

 .footer {
  margin: 1px;
  margin-top: 100px;
  background-color: black;
  opacity: .7;
}