/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */


body {
  background-image: url('http://i.imgur.com/j7KB8ov.png');
  color: white;
  font-family: 'Arvo', serif;
}

.row {
  text-align: center;
}

 /* Text editor CSS  */
.e1 {
  width: 100%;
}
.e2 {
  width: 100%;
}

.form {
  color: black;
}
h1 {
  color: #EEE5DE;
}

h2 {
  color: #BCD2EE;
}

h3 {
  color: #BCD2EE;
}

#edit-user {
  position: relative;
  left: 1000px;
}

/* Header navbar CSS */
#navbar .navbar-right > li > a {
  color: #63B8FF;
  font-size: 15px;
}
.navbar-brand {
  font-size: 26px;
  font-weight: bold;
  font-style: italic;
  font-style: oblique;
  color: #458B74;
}
.icon-bar {
  background-color: #63B8FF;
}
.navbar-right > li > a:hover {
  color: #458B74;
}
/* Footer navbar CSS */
.navbar-fixed-bottom {
  background-color: black;
  color: white;
  opacity: .8;
  height: 30px;
}

