<!-- Info about the app and the team -->
<div class="row">

  <h1>About us!</h1>
  <!-- Comma after PairEd -->
  <article>We are PairEd a group of Web development students passionate <br />
  about teaching others about learning how to code 
  and about social collaboration.</article>
  <br />
  <h2>Team Members</h2>

    <li>Blair Cuny - Design, Styling and User Experience</li>
    <li>Steven Miller - Javacsript, Ajax and Backend Development</li>
    <li>Warsama Gabriel - Controller, Request and Model Testing</li>

</div>