<!-- Landing page, app name unknown -->
<div class="row">
  <div class="landing">
    <h3>Learning to code in Ruby?</h3>
    <h2>Pair Program anytime, anywhere.</h2>
    <h1> PairED </h1>
    <img src='http://i.imgur.com/C4dUKrO.png'><br/><br/><br/>
    <% unless user_signed_in? %>
      <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary' %>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>