<!-- footer -->
  <div class="navbar navbar-default footer">
    <div class="container">
      <p class="navbar-text pull-right"><%= link_to 'Contact', '/contact' %></p>
      <p class="navbar-text pull-right"><%= link_to 'About Us', '/about' %></p>
    </div>
  </div>